
#canvas {
    border: 2px solid;
}

 #score, #speed {
     font-weight: bold;
 }


 .speedmeter {
     display: inline;
 }
 .speed {
     width: 20px;
     height: 8px;
     margin-right: 2px;
     border-width: 1px;
     border-style: solid;
     border-color: gray;
     display: inline-block;
 }

.speed-set {
     background-color: gray;
 }

.speed-set-high {
    background-color: red;
}

 .dot {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block
 }
.red {
    background-color: red;
 }
.green {
    background-color: green;
 }
.yellow {
    background-color: yellow;
 }

 .footer-left{
     text-align: left;
 }
 .footer-right{
     text-align: right;
}
    
.joystick {
    text-align: center;
    vertical-align: middle;
 }

 .joystick-button {
    width: 90px;
 }